@import "tailwind-preset-mantine";

:root {
    --background-color1: #748cab9f;
    --background-color2: #f0ebd8b7;
    --background-color3: #bee3dbb3;
    --windows-color: rgba(255, 255, 255, 0.1);
    --windows-filter: saturate(50%) blur(1em); 
    --login-panel-radius: 2em
}

* {
  box-sizing: border-box;
}
