.gridContainer {
    display: grid;
    grid-template-rows: 4em auto;
    grid-template-columns: 15% auto;
    grid-template-areas: 
        "header header"
        "sidebar main";
    min-height: 100vh;
    transition: grid-template-columns 0.2s ease-out;
}

.gridContainer.sidebarHidden {
    grid-template-columns: 0 auto;
    transition: grid-template-columns 0.2s ease-out;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

.island {
    color: white;
    display: flex;
    background-color: black;
    min-width: 80%;
    min-height: 3em;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.1s;
}

.island:hover {
    transition: transform 0.1s;
    transform: scale(1.01);
}

.aside {
    grid-area: sidebar;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
}

.main {
    grid-area: main;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
}

.backgroundIcon {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 15em;
    height: 15em;
}